* {
    box-sizing: border-box;
}
body {
    background-image: url(vucko.jpg);
   background-size: cover;
    color: aliceblue;
}

h1 {
    text-align: center;
    font-size: 60px;
}

#serbia-logo {
    text-decoration: none;
}

h1 {
    color: transparent;
    background-image: linear-gradient(rgba(216, 0, 0, 0.821) 40%,  blue 60%, white 80%);
    -webkit-background-clip: text;
    background-clip: text;
}

#serbia-logo:hover {
    
}
div {
    text-align: center;
}

h2 {
    margin: auto;
    text-align: center;
}

section {
    font-family: arial;
}

.section1 {
    margin: 5px;
    padding: 5px;
    border-style: solid;
    border-color: red;
}

p {
    color: black;
    border-style: dotted;
    width: 50%;
    margin: auto;
    background-color: white;
    padding: 1rem;
}

.section2 {
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-color: blue;
}

.section3 {
    margin: 15px;
    padding: 15px;
    border-style: solid;
}